html, body{
    background: lightcyan;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

li{
    padding: 20px;
    min-height: 165px;


}select{
    width: 64%;
     padding-top: 9px;
     padding-bottom: 9px;
 }
 #sortButton{
     width: 34%;
     padding-top: 9px;
     padding-bottom: 9px;
 }


#button1{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size : 15px;
}
#button2{
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 50%;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size : 15px;
}
#button3{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 25%;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size : 15px;
}
#button4{
    position: fixed;
    bottom: 0;
    left: 25%;
    width: 25%;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size : 15px;
}
#button5{
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 25%;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size : 15px;
}
#button6{
    position: fixed;
    bottom: 0;
    left: 75%;
    width: 25%;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size : 15px;
}


@media only screen and (max-width: 480px) {
    html, body{
        background: lightcyan;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    h1{
        background: lightblue;
        margin: 0;
        padding: 15px;
        text-align: center;
    }
    li{
        list-style: none;
        border-bottom: solid lightgray;
        font-size: 24px;
        min-height: 165px;
        padding: 5px;
        padding-bottom: 30px;
    }
    a{
        text-decoration: none;
    }
    input{
        width: 69%;
        padding-bottom: 7px;
        padding-top: 7px;

    }


    button{
        width: 28%;
        padding-bottom: 7px;
        padding-top: 7px;


    }
    div{
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: sans-serif;

    }
    p{
        text-align: center;
        font-family: sans-serif;
        font-size: 18px;

    }
    #cast{
        padding-bottom: 45px;
    }
    #trailer{
        padding-bottom: 45px;
    }





}